# Site settings
title: Blog jdetrizep # site title
description: >- # site description
  Este es un blog de tecnología, orientado para amantes de desarrollo y para compartir conocimiento adquiridos.
lang: en-ES # default lang
timezone: GMT-6 # set your timezone
image: assets/img/jdetri_logo_binary.png # Imagen para compartir en redes sociales
repo: https://github.com/jdetrizep # site repo [optional]
mode: dark # default theme "dark" | "light"

# Profile settings
author:
  name: Jorge De Trinidad Zepeda # author name
  bio: >- # tell to the world
    Experto en desarrollo de sistemas bancarios con +16 años  de experiencia.
    Especializado en tecnologías móviles, backend y sistemas IBM i. <br>
    <strong> IBM Contributor 2025 <strong> | Microsoft Certified Professional | Oracle Cloud Certified AI | Cybersecurity Awareness Professional |
    Lean Six Sigma White Belt | Certified Scrum Master | IBM Enterprise Design Thinking. 
  username: jdetrizep # general username
  github: jdetrizep # github username
  linkedin: jorge-de-trinidad-zepeda-13a4a454/ # linkedin username
  twitter: twitter_username # twitter username
  facebook: facebook_username # facebook username
  email: jorgedetrinidad@outlook.com # email adress
  avatar: /assets/img/foto-jorge-trinidad-zepeda.jpg # change with your own avatar
  logoGit: /assets/img/github-mark-white.png # change with your own logo
  logoLinkedin: /assets/img/Linkedin_ico.png # change with your own logo
  logoCorreo: /assets/img/correo_ico.png # change with your own logo
  logosite: /assets/favicons/jdetri_logo_180x180.png # change with your own logo

# URL settings
url: "" #
baseurl:
permalink: /:title/
google_analytics: # leave it blank if not wish
fb_appid:

# Collection setting
collections:
  posts:
    output: true

# Markdown settings
markdown: kramdown
highlighter: rouge
kramdown:
  syntax_highlighter: rouge

# Default front matter
defaults:
  - scope:
      path: ""
    values:
      layout: post
      comments: false

# Jekyll Compose default front matter
jekyll_compose:
  post_default_front_matter:
    modified:
    tags: []
    description:
  draft_default_front_matter:
    modified:
    tags: []
    description:

# Homepage limit posts
number_of_posts: 5

# Build settings
# theme: klise
sass:
  style: compressed

include:
  - _redirects
  - .htaccess

exclude:
  - CNAME
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - CHANGELOG.md
  - README.md
  - node_modules
  - CODE_OF_CONDUCT.md
  - CONTRIBUTING.md
  - lighthouse.png
  - klise-*.gem
  - klise.gemspec

# Plugins
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-postfiles
